@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  
  .advantages-list{
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }
  .advantages-item{
    width: calc((100% - 24px) / 2);
    outline: 1px solid green;
  }
  .advantages-title {
    text-align: left;
  }
  .advantages-post {
      
  }
  .team-list{
    flex-direction: row;
    gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
  }
  .customers-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      row-gap: 72px;
      
  }
  .customers-item {
      width: 168px;
      height: 88px;
  }
/* тут костиль з паддінгом) */
  .footer-container {
      align-items: baseline;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 72px;
      padding-left: 108px;
  }
  .footer-part {
      display: block;
      
  }

  .footer-logo {
      display: inline-block;
      margin-bottom: 16px;
  }

  .footer-about {
      max-width: 264px;
  }
  .footer-soc-container {
      width: 208px;
      display: block;
      
  }
  .footer-form-container {
      display: block;
      
      width: 453px;
  }

  .footer-form {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

  }

  .footer-form-label {
      width: 264px;
  }

  .footer-form-input {
      width: 264px;
      height: 40px;
  }


}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages {
      padding-top: 120px;
      padding-bottom: 120px;
  }
  .advantages-icon-block {
    display: flex;
  }
  .advantages-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .advantages-title {
    color: var(--main-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .advantages-post {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
  }
  .work{
    display: block;
  }
  .team {
      
      padding-top: 120px;
      padding-bottom: 120px;
  }
  .team-list {
      display: flex;
      justify-content: center;
      gap: 24px;
      flex-wrap: nowrap;
  }
  .team-member {
      
      width: calc((100% - 72px) / 4);
  }
  .member {
      width: 232px;
      margin-right: auto;
      margin-left: auto;
      padding: 32px 0;
  }
  .customers {
      padding-top: 120px;
      padding-bottom: 120px;
  }
  .customers-list {
      flex-wrap: nowrap;
  }
  .footer {
      padding-top: 100px;
      padding-bottom: 100px;
  }
  .footer-container {
      align-items: baseline;
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
  }
  .footer-part {
    display: block;
      margin-right: 120px;
  }
  .footer-logo {
      display: inline-block;
      margin-bottom: 16px;
  }
  .footer-about {
      max-width: 264px;
  }
  .footer-soc-container {
      width: 208px;
      display: block;
      margin-right: 80px;
  }
  .footer-form-container {
    display: block;
      width: 453px;
  }
  .footer-form {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      
  }
  .footer-form-label{
    width: 264px;
  }
  .footer-form-input {
      width: 264px;
      height: 40px;
  }

}
